{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="row row-grid align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
            dasdasdasd asasas
        </div>
    </div>
</div>
{% endblock content %}