<!-- Core JS  -->
<!--<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/libs/svg-injector/dist/svg-injector.min.js"></script>
<script src="/static/assets/libs/feather-icons/dist/feather.min.js"></script>-->

<!-- Quick JS -->
<!--<script src="/static/assets/js/quick-website.js"></script>-->