<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <title>
        Jinja2 Theme - {% block title %}{% endblock %} | Sogeti
    </title>

    <link rel="icon" href="/assets/logo.png" type="image/png">
</head>
<body>

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

</body>